.meal-left-column p{
    color: rgba(149,160,20,1);
    font-size: 1.5em;
}
.ingredient-list{
    display: inline-block;
}
.head-text{
    color: rgba(149,160,20,1);
}
.like{
    margin-left: 10px;
}
.like-text{
    font-size: 10px;
}