.brief-image-outer{
    margin-bottom: 15px;
    height: 100px;
    overflow: hidden;
}
.brief-image-inner{
    position: relative;
    float: right;
    right: 50%;
}
.img-meal{
    height: 100px;
    position: relative;
    right: -50%;
}