<section id="welcome" class="clearfix">
    <div  class="col-sm-6 col-sm-offset-3">
        <h1>Welcome</h1>
        <p>Please use and contribute to this app freely.  See the about page for more info or contact the developer using the contact form</p>
    </div>
</section>
<div class="clearfix">
    <section id="favorites" class="col-md-5">
        <h2>Favorites</h2>
        <!--passes all meals to favorites for displaying top three-->
        <app-favorites>...Loading</app-favorites>
    </section>
    <section id="categories"  class="col-md-6 col-md-offset-1">
        <h2>Categories</h2>
        <!--passes all meals to categories for displaying top 10-->
        <app-top-ten-categories>...Loading</app-top-ten-categories>
    </section>
</div>