.img-container{
    overflow-y: hidden;
}
.meal-image{
    height: 150px;
    width: 100%;
    border-radius: 20px;
}
.divider{
    border-color: rgba(149,160,20,1);
}
@media screen and (max-width: 767px){
    .meal-image{
        width: 150%;
    }
}
