.search-container{
    padding-top: 10px;
    z-index: 1;
}
@media screen and (max-width: 1000px){
    .search-container{
        position: absolute;
        top: 5px;
        right: 5px;
    }
}
.search-container input{
    border: none;
    border-radius: 20px;
    height: 30px;
    padding-left: 10px;
    outline: none;
}
.search-container button{
    background: none;
    border-style: none;
}
.search-results{
    width: 200px;
    height: 240px;
    border: solid 1px white;
    background-color: bisque;
    border-radius: 20px;
    margin: 5px 0 0 auto;
    padding-top: 5px;
    position: absolute;
    left: 30%;
    overflow: y-scroll;
}
.search-results ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
}
.more{
    text-align: center;
    text-justify: bottom;
    font-size: 1.3em;
    cursor: pointer;
}