<div class="search-container col-sm-4">
  <form [formGroup]='searchForm' (ngSubmit)='runSearch(searchForm.value)'>
      <input type="text" placeholder="Search" [formControl]="searchForm.controls['query']">
      <button class="logo" type="submit"><span class="glyphicon glyphicon-search"></span></button>
  </form>
  <div class="search-results hide">
    <ul>
      <li>Turkey Sandwich</li>
      <li>Chicken Burrito</li>
      <li>Turkey Sandwich</li>
      <li>Chicken Burrito</li>
      <li>Turkey Sandwich</li>
      <li>Chicken Burrito</li>
      <li>Turkey Sandwich</li>
      <li>Chicken Burrito</li>
      <li>Turkey Sandwich</li>
      <li>Chicken Burrito</li>
    </ul>
    <h3 class="more logo">MORE...</h3>
  </div>
</div>
