<div class="search-container col-sm-4">
  <form [formGroup]='searchForm' (ngSubmit)='runSearch(searchForm.value)'>
      <input type="text" placeholder="Search" [formControl]="searchForm.controls['query']" (click)="resetResults()">
      <button class="logo" type="submit"><span class="glyphicon glyphicon-search"></span></button>
  </form>
  <div class="search-results" *ngIf="resultsShow" (click)="resetResults()">
    <ul>
      <li *ngFor="let result of queryResults">
        <a [routerLink]="['/single-full-view', result.name]">{{result.name}}</a>
      </li>
    </ul>
    <!--<h3 class="more logo">MORE...</h3>-->
  </div>
</div>
