.search-container{
    padding-top: 10px;
    z-index: 1;
}
@media screen and (max-width: 1000px){
    .search-container{
        position: absolute;
        top: 5px;
        right: 5px;
    }
}
.search-container input{
    border: none;
    border-radius: 20px;
    height: 30px;
    padding-left: 10px;
    outline: none;
}
@media screen and (max-width: 400px){
    .search-container input{
        height: 20px;
        width: 100px;
    }
    .search-results{
        width: 50px !important;
        height: 140px;
    }
}
.search-container button{
    background: none;
    border-style: none;
}
.search-results{
    width: 200px;
    height: 240px;
    border: solid 1px white;
    background-color: bisque;
    border-radius: 20px;
    margin: 5px 0 0 auto;
    padding-top: 5px;
    position: absolute;
    left: 1%;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 0px;
}
.search-results ul{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    color: red;
}
.search-results a{
    color: #95a014;
}
.search-results a:hover{
    color: #deb887;
}
.more{
    text-align: center;
    text-justify: bottom;
    font-size: 1.3em;
    cursor: pointer;
}