#contribute-message{
    font-size: 120%;
    margin-bottom: 20px;
}
#contribute-form-container{
    border: 10px solid rgba(160, 183, 201,1);
    border-radius: 80px;
    box-shadow: 0 0 20px 5px rgba(149,160,20,1);
    min-height: 500px;
    opacity: 0.7;
    background-color: lightgray;
    padding: 30px;
}
#contribute-form-container:hover{
    border-color: rgba(149,160,20,1);
    box-shadow: 0 0 20px 5px rgba(160, 183, 201,1);
}
.error-message{
    color: red;
}
#upload-container{
    border: 1px solid rgba(160, 183, 201,1);
    border-radius: 20px;
    min-height: 100px;
    padding: 10px;
    margin: 5px 0 5px 0;
}
#contribute-submit{
    background-color: white;
}