<section id="contribute-message" class="col-md-6 col-md-offset-3">
  <h1>Contribute</h1>
  <p>Use this form to contribute new meals.  If your submission is adequate, I will add it to the database</p>
</section>
<section id="contribute-form-container" class="col-md-8 col-md-offset-2">
  
  
  <div class="clearfix">
    <form id="image-upload">
        <div class="col-sm-6">
          <label>Image:</label>
          <input id="image" type="file" #file (change)="updateImageFile(file.files)" accept="image/jpg, image/gif, image/png">
          <div class="error-message" *ngIf="!imageUploaded">Please choose an image</div>
        </div>
        <div id="upload-container" class="col-sm-6">
          <img class="img-responsive" id="uploaded" src="#" alt="Your image">
        </div>
      
    </form>
  </div>

  <form   id="contribute-form"
          [formGroup]="contributeForm" 
          (ngSubmit)="onSubmit(contributeForm.value)">

          <div class="form-group">                
            <label for="name">Name:</label>
            <input id="name" type="text" class="form-control" [formControl]="contributeForm.controls['name']" [class.error]="!contributeForm.controls['name'].valid">
            <div class="error-message" *ngIf="!contributeForm.controls['name'].valid">Please type your full name</div>
          
            <label for="description">Description:</label>
            <input type="text" class="form-control" [formControl]="contributeForm.controls['description']" [class.error]="!contributeForm.controls['description'].valid">
            <div class="error-message" *ngIf="!contributeForm.controls['description'].valid">Please provide a brief description of the meal</div>
           
            <label for="contributor">Contributor:</label>
            <input id="contributor" type="text" class="form-control" [formControl]="contributeForm.controls['contributor']" [class.error]="!contributeForm.controls['contributor'].valid">
            <div class="error-message" *ngIf="!contributeForm.controls['contributor'].valid">Please provide your full name</div>
           
            <label for="ingredients">Ingredients:</label>
            <input id="ingredients" type="text" class="form-control" [formControl]="contributeForm.controls['ingredients']" [class.error]="!contributeForm.controls['ingredients'].valid">
            <div class="error-message" *ngIf="!contributeForm.controls['ingredients'].valid">Please provide a list of ingredients separated by commas</div>
           
            <label for="date">Date:</label>
            <input id="date" type="text" class="form-control" [formControl]="contributeForm.controls['date']" [class.error]="!contributeForm.controls['date'].valid">
            <div class="error-message" *ngIf="!contributeForm.controls['date'].valid">Please provide today's date (dd/mm/yy)</div>
           
            <label for="estimatedCalories">Estimated Calories:</label>
            <input id="estimatedCalories" type="text" class="form-control" [formControl]="contributeForm.controls['estimatedCalories']" [class.error]="!contributeForm.controls['estimatedCalories'].valid">
            <div class="error-message" *ngIf="!contributeForm.controls['estimatedCalories'].valid">Please provide a calorie estimation</div>
           
            <label for="directions">Directions:</label>
            <input id="directions" type="text" class="form-control" [formControl]="contributeForm.controls['directions']" [class.error]="!contributeForm.controls['directions'].valid">
            <div class="error-message" *ngIf="!contributeForm.controls['directions'].valid">Please provide directions</div>
           
            <label for="category">Category:</label>
            <input id="category" type="text" class="form-control" [formControl]="contributeForm.controls['category']" [class.error]="!contributeForm.controls['category'].valid">
            <div class="error-message" *ngIf="!contributeForm.controls['category'].valid">Please provide the category (ie: chicken, pig, etc...)</div>
          </div>

          <div *ngIf="contributeForm.valid">
            <button type="submit" id="contribute-submit" class="btn col-xs-2 col-xs-offset-5" ><strong>Send</strong></button>
          </div>
  </form>

  <!--splash page for email sent-->
  <div *ngIf="received" class="mail-message img-responsive">
    <p>Thank you for making contribution!</p>
    <a routerLink="/welcome">Back to welcome page</a>
  </div>
  <!--splash page for email sent-->
  <div *ngIf="error" class="mail-message img-responsive">
    <p>There seems to be an issue with the email server.  Please try again soon.</p>
    <a routerLink="/welcome">Back to home page</a>
  </div>
 

</section>




          
